{% extends 'layout.html' %}

{% block body %}

<div class="forma">
    <h2 class="forma__h2">¿Que es LMK?</h2>
    <p class="forma__p">
        Let Me Know es una aplicación web diseñada por Andrés Cortese, con el fin de acabar con los largos periodos de tiempo que toma el hacerse con grandes cantidades de información. Esta aplicación trabaja recopilando grandes cantidades de información de la web según lo que el usuario este buscando y la resume en bloques. Con esto se consigue no solo ahorrar tiempo, sino que también facilita el trabajo con grandes cantidades de información, pudiéndola tener toda en una sola página. El futuro está en la automatización, no dejemos el conocimiento en el pasado.
    </p>
</div>

<div class="forma">
    <h2 class="forma__h2">Forma de ingresar búsquedas correctamente:</h2>
    <p class="forma__p">
        En el centro de la pantalla en el “Home” encontrará dos campos donde debe ingresar la consulta que desea realizar. Esta debe ser lo mas especifica posible, para esto la búsqueda se divide en un tema principal y un subtema. Un ejemplo de esto sería “segunda guerra mundial” como tema principal y “batalla de Stalingrado” como subtema. La necesidad de que la información sea lo mas centrada posible, surge debido a que en internet podemos encontrar miles de páginas que hablen el mismo tema y esta forma de búsqueda ayuda a acortar la cantidad, con lo que se conseguirá un resultado más detallado. Además, resuelve el problema que surge cuando un tema tiene muchas variaciones, como por ejemplo “la anatomía humana”, tema del cual se suele buscar una rama especifica y no tanto una generalización. Si bien la herramienta esta diseñada para funcionar únicamente con un parámetro, su funcionamiento podría verse limitado, por lo que no es recomendable.
    </p>
</div>

<div class="forma">
    <h2 class="forma__h2">Resultados:</h2>
    <p class="forma__p">
        Los resultados de la búsqueda se disponen en bloques, cada uno de estos corresponde a una pagina web distinta. Estas estarán señaladas en la parte inferior de la pagina con los resultados, para qué de ser necesario, cualquiera pueda revisar la información original.     
    </p>
    <p class="forma__p">
        Nota sobre los resultados: Puede darse el caso de un resultado con información incoherente o pobre, esto normalmente se debe a búsquedas demasiado generales, trate de ser más específico en estas.
    </p>
</div>

<div class="forma-bottom">
    <h2 class="forma__h2">Desarrollo de la aplicación:</h2>
    <p class="forma__p">
        Si bien la página es completamente funcional, esta aun es una versión beta, por lo que sigue en desarrollo. Esto significa que en algunos casos puede llegar a presentar fallos, pero a medida que sean detectados se corregirán lo más rápido posible.
    </p>
</div>

{% endblock %}